body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    overflow: hidden;
    font-size: .875rem;
}

img {
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}