$mainBlue: #9FB7BF;
$mainOrange: #FF9120;
$mainBlack: #262626;
$SecondaryBlack: #373737;
$mainDarkGrey: #333333;
$SecondaryDarkGrey: #464646;
$mainMedGrey: #999999;
$lightGrey: #cccccc;
$offWhite: #eeeeee;