.left-panel {
    position: fixed;
    top: 40px;
    left: -24rem;
    width: 25rem;
    background-color: $mainDarkGrey;
    height: calc(100vh - 50px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    transition: .5s;
    z-index: -1;
    &__right {
        position: relative;
        width: 1rem;
        float: right;
        color: $mainBlue;
        box-shadow: -4px 0 8px rgba(0, 0, 0, .5);
        height: calc(100vh - 50px);
        padding-right: 2px;
    }
    &__toggle {
        position: absolute;
        top: calc(50% - 50px);
        cursor: pointer;
        margin-left: -4px;
    }
}

.left-active {
    left: 0;
}

.map-active {
    margin-left: 24rem;
    transition: .5s;
}

.esriSimpleSliderTL {
    top: 50px;
    left: 20px;
}