.primary-nav {
  padding-top: 16px;

  @mixin atMedium {
    padding-top: 8px;
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;

    font-size: 0.8rem;

    @mixin atMedium {
      padding-right: 1rem;
      font-size: 0.875rem;
      float: left;
      display: block;
    }
  }
}

li:last-child {
  padding-right: 0;

  @mixin atMedium {
    padding-right: 1rem;
  }
}

a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.6rem 0.4rem;
  margin-top: 20px;
  background-color: rgba($mainBlue, 0.4);
  &:hover {
    background-color: $mainGreen;
  }

  @mixin atMedium {
    padding: 12px;
    margin: 0;
    background-color: transparent;

    &.is-current-link {
      border-bottom: 1px solid $mainGreen;

      &:hover {
        background-color: rgba($mainBlue, 0.1);
      }
    }
  }
}
