.right-panel {
    position: absolute;
    top: 44px;
    right: -21.5rem;
    width: 22.5rem;
    background-color: $mainDarkGrey;
    height: calc(100vh - 40px);
    transition: .5s;
    z-index: 100;
    &__left {
        position: relative;
        width: 1rem;
        float: left;
        color: $mainBlue;
        height: calc(100vh - 40px);
        box-shadow: 4px 0 8px rgba(0, 0, 0, .5);
        padding-right: 2px;
    }
    &__toggle {
        position: absolute;
        top: calc(50% - 50px);
        cursor: pointer;
        margin-left: -4px;
    }
    &__icons-container {
        position: relative;
        display: inline-block;
        top: 0;
        text-align: center;
        clear: both;
        width: 22.5rem;
        height: 3rem;
        background-image: linear-gradient( to right, $mainDarkGrey, #738A92);
        /* background-color: pink;*/
    }
    &__icon-spacer {
        display: inline-block;
        padding: 8px 8px 0 8px;
    }
    &__title {
        position: relative;
        top: 40px;
        display: block;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 3rem;
        width: 22.5rem;
        height: 3rem;
        background-color: #ffffff;
        text-align: center;
        font-size: 1.6rem;
    }
}

#right-panel__layers,
#right-panel__add_to_photos,
#right-panel__map,
#right-panel__collections,
#right-panel__cloud_download,
#right-panel__cloud_upload {
    cursor: pointer;
}

.right-active {
    right: 0;
}