.right-panel {
    position: absolute;
    top: 50px;
    right: -21.5rem;
    width: 22.5rem;
    background-color: $mainDarkGrey;
    height: calc(100vh - 50px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: .5s;
    z-index: -100;
    &__left {
        position: relative;
        width: 1rem;
        float: left;
        color: $mainBlue;
        box-shadow: 4px 0 8px rgba(0, 0, 0, .5);
        height: calc(100vh - 50px);
        padding-right: 2px;
    }
    &__toggle {
        position: absolute;
        top: calc(50% - 50px);
        cursor: pointer;
        margin-left: -4px;
    }
    &__icons-container {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 50%;
        text-align: center;
        clear: both;
        width: 22.5rem;
        height: 2.5rem;
        background-image: linear-gradient( to right, $mainDarkGrey, #738A92);
        /* background-color: pink;*/
    }
    &__icon-spacer {
        display: inline-block;
        padding: 8px 8px 0 8px;
    }
    &__title {
        position: absolute;
        top: 40px;
        display: block;
        vertical-align: middle;
        white-space: nowrap;
        line-height: 3rem;
        width: 22.5rem;
        height: 3rem;
        background-color: #ffffff;
        text-align: center;
        font-size: 1.6rem;
    }
}

.right-active {
    right: 0;
}