.wrapper {
  overflow: hidden;
  padding: 0 18px 18px 18px;
  max-width: 77.25rem;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 61rem;
  }

  &--narrow {
    max-width: 470px;
  }

  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  &--b-margin {
    margin-bottom: 1.5rem;
    @mixin atMedium {
      margin-bottom: 3.875rem;
    }
  }
}
